p.header {
	min-height: 3rem;
	width: 100%;
	margin: .5rem;
	color: var(--color-font-1);
	font-size: 1.875rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}