.viewboard__square { 
	height: 3.6rem;
	width: 3.6rem;
	border-width: .0625rem;
	border-style: solid;
	border-color: var(--color-border);
	display: flex;
	align-items: center; 
	justify-content: center;
	background-color: var(--color-square-locked);
	color: var(--color-square-text);
	font-size: 2.5rem;
	font-weight: bold;
	user-select: none; 
}
.viewboard__square.borderL {
	margin-left: .208rem;
}