.viewboard__square { 
	height: 3rem;
	width: 3rem;
	border-width: .052rem;
	border-style: solid;
	border-color: var(--color-border);
	display: flex;
	align-items: center; 
	justify-content: center;
	background-color: var(--color-square-locked);
	color: var(--color-square-text);
	font-size: 2rem;
	font-weight: bold;
	user-select: none; 
}
.viewboard__square.borderL {
	margin-left: .208rem;
}