.container {
	margin-top: 2.5rem;
	min-width: 51.9rem;
	min-height: 33.9rem;
	display: flex;
}
.playboard {
	min-width: 33.9rem;
	min-height: 33.9rem;
	border-width: .5rem;
	border-style: solid;
	border-color: var(--color-border-dark);
	background-color: var(--color-border);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.playboard__row {
	display: flex;
	background-color: var(--color-border);
}
.playboard__row:nth-child(3n + 4) {
	margin-top: .25rem;
}
.playboard.loading {
	border-color: transparent;
	background-color: transparent;
}
.playboard__buttonWrapper {
	width: 18rem;
	height: 32.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.playboard__button {
	min-width: 10rem;
	min-height: 3rem;
	margin: 1rem;
	border: none;
	border-radius: 2rem;
	font-size: 1.25rem; 
	background-color: var(--color-button);
	color: var(--color-font-2);
	outline: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.playboard__button:hover {
	background-color: var(--color-button-hover);
}
.playboard__button:active {
	background-color: var(--color-border);
	transform: translateY(.25rem);
}
.playboard__button.disabled {
	background-color: var(--color-button-disabled);
	pointer-events: none;
	user-select: none;
}
.playboard__spinner {
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	border-top-color: var(--color-button-hover);
	border-right-color: var(--color-button-hover);
	border-bottom-color: var(--color-button-disabled);
	border-left-color: var(--color-button-disabled);
	border-width: 1.5rem;
	border-style: solid;
	animation-name: Spin;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes Spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}