<main>
	<!-- TODO hey you know that one sudoku board with the subbuttons annd tools to cross out numbers yeah put that here lol -->
	<div class="container">
		<div class="playboard" [class.loading]="isFetching" [ngSwitch]="true" >
			<ng-container *ngSwitchCase="isFetching">
				<span class="playboard__spinner"></span>
			</ng-container>
			<ng-container *ngSwitchCase="!isFetching">
				<div class="playboard__row" *ngFor="let row of currentBoard; let y = index">
					<playsquare *ngFor="let col of row; let x = index" 
						[x]="x" 
						[y]="y" 
						[value]="col.value"
						[selected]="highlightX === x && highlightY === y"
						[invalid]="col.invalid ?? false" 
						[locked]="col.locked">
						[possibleNumbers]="sudoku.getPossibleNumbers(currentBoard, null, y, x)"
						(selectsquare)="console.log('lol')"
					</playsquare>
				</div>
			</ng-container>
		</div>
		<div class="playboard__buttonWrapper">
			<div class="playboard__button" [class.disabled]="isSolving || isFetching || isWin">{{ 'Reset' }}</div>
			<div class="playboard__button" [class.disabled]="isSolving || isFetching">{{ 'New Game' }}</div>
			<div class="playboard__button" [class.disabled]="isSolving || isFetching || isWin">{{ isSolving ? 'Solving...' : 'Give Up' }}</div>
			<input type="checkbox" [checked]="sudoku.auto" (click)="sudoku.toggleAuto()">
			<!-- TODO Make it a toggle switch -->
		</div>
		<!-- TODO use random generation to make eahc subgrid have 3/5/7 squares locked on hard/med/easy -->
		<!-- TODO candidates -->
		<!-- TODO keyboard support -->
		<!-- TODO keyboard support (both arrows and numbers )-->
	</div>
</main>
