<main>
	<!-- TODO hey you know that one sudoku board with the subbuttons annd tools to cross out numbers yeah put that here lol -->
	<div class="playboard__container">
		<div class="playboard" 
			[ngSwitch]="true" 
			[class.loading]="isFetching">
			<ng-container *ngSwitchCase="isFetching">
				<span class="playboard__spinner"></span>
			</ng-container>
			<ng-container *ngSwitchCase="!isFetching">
				<div class="playboard__row" *ngFor="let row of currentBoard; let y = index">
					<playsquare *ngFor="let col of row; let x = index" 
						[x]="x" 
						[y]="y" 
						[value]="col.value"
						[selected]="sudoku.highlightX === x && sudoku.highlightY === y"
						[invalid]="col.invalid" 
						[locked]="col.locked">
						(squareEvent)="setSelectedSquare(x, y)"
						[possibleNumbers]="col.possibleNumbers ?? []"
					</playsquare>
				</div>
			</ng-container>
		</div>
		<div class="playboard__buttonWrapper">
			<div class="playboard__button" [class.disabled]="isSolving || isFetching" (click)="clearBoard()">{{ 'Reset' }}</div>
			<div class="playboard__button" [class.disabled]="isSolving || isFetching" (click)="getPlayableBoardFromDatabase()">{{ 'New Game' }}</div>
			<div class="playboard__button" [class.disabled]="isSolving || isFetching || isWin" (click)="solveBoard()">{{ isSolving ? 'Solving...' : 'Give Up' }}</div>
			<!-- TODO 🥶☝ -->
			<!-- TODO: <input type="checkbox" [checked]="sudoku.auto" (click)="sudoku.toggleAuto()"> -->
			<!-- TODO: <input type="checkbox" [checked]="candidateMode" (click)="toggleMode()"> -->
			<!-- TODO extract to switch component -->
			<!-- TODO have switch component toggle a dependency injected variable because shared state  -->
			<!-- TODO: seperate the playable board logic from the generated board logic -->
		</div>
	</div>
	<!-- TODO use random generation to make eahc subgrid have 3/5/7 squares locked on hard/med/easy -->
	<!-- TODO make the board larger and move controls to a sidebar for here -->
</main>
