<div class="playboard__square"
	[class.selected]="selected"  
	[class.locked]="locked"  
	[class.unfilled]="value === null"
	[class.mx]="x > 0 && x % 3 === 0" 
	[class.my]="y > 0 && y % 3 === 0"
	(click)="newClickEvent.emit({ x, y })"
	>{{ value }}
	<ng-container *ngIf="value === null && (selected || sudoku.auto)">
	  	<candidate *ngFor="let num of numbers" 
	  	[candidate]="num" 
		[highlighted]="selected || sudoku.auto">
		</candidate>
		<!-- TODO bind enabled prop on candidate to getPossibleNumbers method for autocandidacy -->
	</ng-container>
</div>
