.controls__buttonWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.controls__button {
	min-width: 10rem;
	min-height: 3rem;
	margin: 1rem;
	border: none;
	border-radius: 2rem;
	font-size: 1.25rem; 
	background-color: var(--color-button);
	color: var(--color-font-2);
	outline: none;
	user-select: none;
}
.controls__button:hover {
	background-color: var(--color-button-hover);
}
.controls__button:active {
	background-color: var(--color-border);
	transform: translateY(.25rem);
}
.controls__button.disabled {
	background-color: var(--color-button-disabled);
	pointer-events: none;
	user-select: none;
}