.navbar {
	color: var(--color-font-1);
}
.navbar__title {
	padding: .75rem;
	background-color: var(--color-1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}
.navbar__links {
	height: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--color-2);
	user-select: none;
}
.navbar__item {
	color: var(--color-font-2);
	font-size: 1.5rem;
	list-style: none;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--color-font-2);
	text-underline-offset: .125em;
	transition: text-decoration-color .25s, text-underline-offset .25s, color .25s;
}
.navbar__item:hover {
	color: var(--color-font-1);
	text-decoration-color: var(--color-font-1);
}