.navbar {
	background-color: var(--color-1);
	color: var(--font-1);
}
.navbar__header, .navbar__links {
	width: 100%;
	padding: .5rem;
	display: flex;
}
.navbar__header {
	align-items: center;
	justify-content: space-between;
}
.navbar__title {
	padding-left: 2rem;
	font-size: 2.25rem;
}
.navbar__links {
	margin-bottom: 2rem;
	padding: .5rem;
	background-color: var(--color-2);
	justify-content: space-evenly;
	user-select: none;
}
.navbar__item, .navbar__handle {
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}
.navbar__item {
	color: var(--font-2);
	font-size: 1.67rem;
	font-weight: bold;
	list-style: none;
	text-decoration-style: solid;
	text-decoration-line: underline;
	text-decoration-color: transparent;
	text-underline-offset: .125em;
	transition-property: text-decoration-color, color;
}
.navbar__item.active {
	text-decoration-color: var(--font-2);
	pointer-events: none;
}
/* TODO pseudoelements */
.navbar__item:hover {
	color: var(--font-1);
	text-decoration-color: var(--font-1);
}
.navbar__switch {
	margin: .5rem;
	display: flex;
	align-items: center;
	text-align: center;
}
.navbar__track {
	appearance: none;
	height: 2.5rem;
	width: 5rem;
	border-radius: 1.25rem;
	background-color: var(--font-1);
}
.navbar__handle {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: var(--color-1);
	transform: translateX(-110%);
	transition-property: transform;
}
.navbar__handle.checked {
	transform: translateX(-240%);
}
.navbar__moon {
	fill: var(--font-1);
	width: 2.5rem;
}