<!-- TODO hey you know that one sudoku board with the subbuttons annd tools to cross out numbers yeah put that here lol -->
<div class="container">
	<div class="buttonWrapper">
	</div>
	<board [state]="state"></board>
		<!-- <button [class.disabled]="isSolving || isFetching" (click)="clearBoard()">{{ 'Reset' }}</button>
		<button [class.disabled]="isSolving || isFetching" (click)="getBoard()">{{ 'New Game' }}</button>
		<button [class.disabled]="isSolving || isFetching || isWin" (click)="solveBoard()">{{ isSolving ? 'Solving...' : 'Give Up' }}</button> -->
		<!-- TODO 🥶☝ -->
		<!-- TODO: <input type="checkbox" [checked]="sudoku.auto" (click)="sudoku.toggleAuto()"> -->
		<!-- TODO: <input type="checkbox" [checked]="candidateMode" (click)="toggleMode()"> -->
		<!-- TODO extract to switch component -->
		<!-- TODO have switch component toggle a dependency injected variable because shared state  -->
		<!-- TODO: seperate the playable board logic from the generated board logic -->
			<!-- TODO use random generation to make eahc subgrid have 3/5/7 squares locked on hard/med/easy -->
			<!-- TODO candidates -->
			<!-- TODO keyboard support -->
			<!-- TODO keyboard support (both arrows and numbers )-->
</div>
