.board {
	border-width: .5rem;
	border-style: solid;
	border-color: var(--blue-600);
	background-color: var(--blue-400);
	display: flex;
	flex-direction: column;
	border-width: .5rem;
	box-shadow: 0 3px 12px hsla(0, 0%, 0%, .5);
}
.board__row {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.board__row:nth-child(3n + 4) {
	margin-top: .5rem;
}
.board__cell {
	width: 3.25rem;
	height: 3.25rem;
	border-style: solid;
	border-color: var(--blue-300);
	border-width: .0125rem;
}
.board__cell:nth-child(3n + 4) {
	margin-left: .5rem;
}


.board.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
}
.board__spinner {
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	border-top-color: var(--blue-400);
	border-right-color: var(--blue-400);
	border-bottom-color: var(--blue-500);
	border-left-color: var(--blue-500);
	border-width: 1.5rem;
	border-style: solid;
	animation-name: Spin;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}
@keyframes Spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}