<ng-container [ngSwitch]="true">
	<ng-container *ngSwitchCase="state.status === 'Fetching'">
		<div class="board__spinner"></div>
	</ng-container>
	<ng-container *ngSwitchCase="state.status !== 'Fetching'">
		<div class="board" [class.loading]="state.mode === 'PLAY' && state.status === 'Fetching'" [ngSwitch]="true">
			<ng-container *ngFor="let row of state.squares; let y = index">
				<div class="board__row">
					<ng-container *ngFor="let col of row; let x = index">
						<div class="board__cell">
							<square 
								[mode]="this.state.mode"
								[x]="x"
								[y]="y"
								[value]="this.state.squares[y][x].value"
								[locked]="this.state.mode === 'PLAY' ? this.state.squares[y][x].locked : false"
								[selected]="this.state.highlightX === x && this.state.highlightY === y"
								[invalid]="this.state.mode === 'PLAY' ? this.state.squares[y][x].invalid : false"
								(squareClick)="selectSquare($event)">
							</square>
						</div>
					</ng-container>
				</div>
			</ng-container>
		</div>
	</ng-container>
</ng-container>