.board {
	min-width: 32rem;
	min-height: 32rem;
	border-width: .5rem;
	border-style: solid;
	border-color: var(--blue-600);
	background-color: var(--blue-400);
	display: grid;
	grid-template-columns: repeat(3, 1fr) 1.1fr repeat(2, 1fr) 1.1fr repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr) 1.1fr repeat(2, 1fr) 1.1fr repeat(2, 1fr);
	border-width: .5rem;
}
.board.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: transparent;
	background-color: transparent;
}
.board__spinner {
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	border-top-color: var(--blue-400);
	border-right-color: var(--blue-400);
	border-bottom-color: var(--blue-500);
	border-left-color: var(--blue-500);
	border-width: 1.5rem;
	border-style: solid;
	animation-name: Spin;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes Spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}