<main>
	<div class="container">
		<div class="buttonWrapper">
			<button [class.disabled]="state === 'Saving' || state === 'Generating' || state === 'Empty'" (click)="emptyBoard()">{{ 'Clear' }}</button>
			<button [class.disabled]="state === 'Saving' || state === 'Generating'" (click)="generateBoard()">{{ state === 'Generating' ? 'Generating...' : 'Generate' }}</button>
			<button [class.disabled]="state === 'Saving' || state === 'Generating' || state === 'Empty'" (click)="saveBoard()">{{ state === 'Saving' ? 'Saving...' : 'Save' }}</button>
		</div>
		<div class="viewboard">
			<ng-container *ngFor="let row of board; let y = index">
				<!-- viewsquare and playsquare, viewsquare being classic dummy component while playsquare has more convenient options n shit -->
				<ng-container *ngFor="let col of row; let x = index">
					<!-- <ng-container *ngIf="x > 0 && x % 3 === 0">
						<div class="viewboard__border"></div>
					</ng-container> -->
					<viewsquare [x]="x" [y]="y" [value]="board[y][x].value"></viewsquare>
				</ng-container>

			</ng-container>
		</div>
	</div>
</main>