.container {
	margin-top: 2.5rem;
	min-width: 51.9rem;
	min-height: 33.9rem;
	display: flex;
}
.viewboard {
	min-width: 33.9rem;
	min-height: 33.9rem;
	border-width: .5rem;
	border-style: solid;
	border-color: var(--color-border-dark);
	background-color: var(--color-border);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.viewboard__row {
	display: flex;
	background-color: var(--color-border);
}
.viewboard__row:nth-child(3n + 4) {
	margin-top: .25rem;
}
.viewboard__buttonWrapper {
	width: 18rem;
	height: 32.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.viewboard__button {
	min-width: 10rem;
	min-height: 3rem;
	margin: 1rem;
	border: none;
	border-radius: 2rem;
	font-size: 1.25rem; 
	background-color: var(--color-button);
	color: var(--color-font-2);
	outline: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.viewboard__button:hover {
	background-color: var(--color-button-hover);
}
.viewboard__button:active {
	background-color: var(--color-border);
	transform: translateY(.25rem);
}
.viewboard__button.disabled {
	background-color: var(--color-button-disabled);
	pointer-events: none;
	user-select: none;
}