.container {
	min-width: 50rem;
	min-height: 32rem;
	display: flex;
}
.viewboard {
	min-width: 32rem;
	min-height: 32rem;
	border-width: .5rem;
	border-style: solid;
	border-color: var(--blue-600);
	background-color: var(--blue-400);
	display: grid;
	grid-template-columns: repeat(3, 1fr) 1.1fr repeat(2, 1fr) 1.1fr repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr) 1.1fr repeat(2, 1fr) 1.1fr repeat(2, 1fr);
}