/* You can add global styles to this file, and also import other style files */
:root {
	/* TODO rotating square on click */
	--color-1: hsl(200, 25%, 10%);
	--color-2: hsl(200, 25%, 13%);
	--color-3: hsl(200, 25%, 16%);
	--color-square-text: hsl(200, 25%, 25%);
	--color-button-disabled: hsl(200, 25%, 30%); 
	--color-border-dark: hsl(200, 25%, 35%); 
	--color-button: hsl(200, 25%, 40%); 
	--color-button-hover: hsl(200, 25%, 45%); 
	--color-border: hsl(200, 25%, 50%); 
	--color-candidate: hsl(200, 25%, 60%); 
	--color-square-locked: hsl(200, 25%, 70%);
	--color-square-hover: hsl(200, 25%, 75%);
	--color-square: hsl(200, 25%, 80%); 
	--color-font-2: hsl(200, 25%, 85%);
	--color-font-1: hsl(198, 25%, 90%);
	--color-square-red: hsl(0, 25%, 50%);
	--color-square-red-hover: hsl(0, 25%, 40%);
	--color-square-green: hsl(100, 20%, 40%);
}

[theme='light'] {
	/* TODO: dark mode/light mode switch  */
	content: '';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato;
	user-select: none;
}

body {
	background-color: var(--color-3);
}

main {
	width: 100%;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}