/* You can add global styles to this file, and also import other style files */
:root {
	/* TODO rotating square on click */
	--blue-100: hsl(180, 21%, 86%);
	--blue-200: hsl(180, 22%, 72%);
	--blue-300: hsl(180, 21%, 58%);
	--blue-400: hsl(180, 28%, 44%);
	--blue-500: hsl(180, 50%, 30%);
	--blue-600: hsl(180, 51%, 24%);
	--blue-700: hsl(180, 50%, 18%);
	--blue-800: hsl(180, 51%, 12%);
	--blue-900: hsl(180, 48%, 6%);
	--grey-100: hsl(200, 10%, 90%);
	--grey-200: hsl(200, 10%, 85%);
	--grey-300: hsl(202, 11%, 80%);
	--grey-400: hsl(201, 11%, 75%);
	--grey-500: hsl(201, 11%, 50%);
	--grey-600: hsl(201, 11%, 40%);
	--grey-700: hsl(202, 11%, 20%);
	--grey-800: hsl(200, 10%, 15%);
	--grey-900: hsl(200, 10%, 10%);
	--red-400: hsl(0, 60%, 60%);
	--red-500: hsl(0, 60%, 50%);
	--red-600: hsl(0, 60%, 40%);
	--green-500: hsl(100, 60%, 50%);
	--green-600: hsl(100, 60%, 40%);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato;
	user-select: none;
}

html, body {
	height: 100%;
}

body { 
	--color-1: var(--grey-900);
	--color-2: var(--grey-800);
	--color-3: var(--grey-700);
	--font-1: var(--blue-100);
	--font-2: var(--blue-200);
	--font-3: var(--blue-300);
	--font-4: var(--grey-100);
	background-color: var(--color-3);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

body.lightTheme { 
	--color-1: var(--grey-200);
	--color-2: var(--grey-300);
	--color-3: var(--grey-400);
	--font-1: var(--blue-900);
	--font-2: var(--blue-800);
	--font-3: var(--blue-700);
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
button {
	min-width: 10rem;
	min-height: 3rem;
	margin: 1rem;
	border: none;
	border-radius: 2rem;
	font-size: 1.25rem; 
	background-color: var(--blue-500);
	color: var(--grey-100);
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 1px 0 var(--blue-400), 0 1px 3px hsla(0, 0%, 0%, .5);
}
button:hover {
	background-color: var(--blue-400);
	box-shadow: inset 0 1px 0 var(--blue-300), 0 1px 3px hsla(0, 0%, 0%, .5);
}
button:active, button.disabled {
	background-color: var(--blue-600);
	box-shadow: none;

} 
button:active {
	transform: translateY(.25rem);
}
button.disabled {
	pointer-events: none;
}
.buttonWrapper {
	width: 18rem;
	height: 32rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container {
	min-width: 50rem;
	min-height: 32rem;
	display: flex;
}